
@{
    ViewBag.Title = "UpdatePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h4 class="mt-1">Thay đổi mật khẩu </h4>

        <div class="card mb-4">
            @if (ViewBag.mes != null)
            {
                if (ViewBag.mes == "1")
                {
                    <div class="alert alert-success">
                        <strong>Thay đổi mật khẩu thành công</strong>
                    </div>
                }
                else
                {
                    <div class="alert alert-danger">
                        <strong>Thay đổi mật khẩu thất bại</strong>
                    </div>
                }

            }
            <div class="card-body">
                <form enctype="multipart/form-data" action="/User/UpdatePasswordPost" method="post">
                    <div class="col">
                        <div class="row">
                            <div class="col-6">
                                <label for="category-film" class="col-form-label">New Password:<span style="color:red">* </span>:</label>
                                <input type="password" class="form-control" id="tenphim" name="password" tabindex="1" value="" required maxlength="20">
                            </div>
                            <div class="col-6">
                                <label for="category-film" class="col-form-label">Re New Password:</label>
                                <input type="password" class="form-control" id="tenphim" name="rePassword" tabindex="1" value="" required maxlength="20">
                            </div>
                        </div>


                        <div class="modal-footer">

                            <button style="width:100px" type="submit" class="btn btn-primary">Sửa </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>


