
<div id="layoutSidenav_nav">
    @{ var userInfomatiom = (LibraryAsp.Models.User)Session["USER"]; }
    <nav style="background-color: #F1F1F1 !important" class="sb-sidenav accordion " id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                @if (userInfomatiom.Role.id_role == 2)
                {
                    <a class="nav-link collapsed" href="/Publisher/Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Quản lý Nhà xuất bản
                    </a>
                    <a class="nav-link collapsed" href="/Category/Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Quản lý Loại sách
                    </a>
                    <a class="nav-link collapsed" href="/ScheduleWork/Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Quản lý Sách
                    </a>
                    <a class="nav-link collapsed" href="/ScheduleWork/Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Quản lý Sinh viên
                    </a>
                    <a class="nav-link collapsed" href="/ScheduleWork/Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Quản lý Thuê Trả
                    </a>
                }
                else
                {
                    <a class="nav-link collapsed" href="/User/Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Thông tin tài khoản
                    </a>
                    <a class="nav-link collapsed" href="/User/Edit">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Chỉnh sửa tài khoản
                    </a>
                    <a class="nav-link collapsed" href="/User/UpdatePassword">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Đổi mật khẩu
                    </a>
                    <a class="nav-link collapsed" href="/BorrowBook/ListTransactionBorrow">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Lịch sử thuê trả
                    </a>
                    <a class="nav-link collapsed" href="/BorrowBook/ListTransactionPunish">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Lịch sử bị phạt
                    </a>
                    <a class="nav-link collapsed" href="/BorrowBook/Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Thuê sách
                    </a>
                }
                </div>
        </div>

    </nav>
</div>



